<!-- assign-modules-to-user.html -->

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">
          Assign Modules to User: {{ keycloakUserId }} in Organization: {{ organizationId }}
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/organizations">Organizations</a></li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/organizations', organizationId, 'users']">Users</a>
          </li>
          <li class="breadcrumb-item active">Assign Modules</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Manage User Module Assignments</h3>
      </div>

      <form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="form-group">
            <label>Available Modules</label>
            <div *ngFor="let module of availableModules" class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [value]="module.id"
                [checked]="isModuleAssigned(module.id)"
                (change)="onModuleChange($event, module.id)"
              />
              <label class="form-check-label">
                {{ module.name }} - {{ module.description }}
              </label>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Update Assignments</button>
        </div>
      </form>
    </div>
  </div>
</section>
